swagger: "2.0"
info:
  description: "This is RaspberryPi Brewery Controller server API description. You can find out more information at [https://bitbucket.org/pmarcinkowski/raspberry-pi-brewery-controller/src/master/](https://bitbucket.org/pmarcinkowski/raspberry-pi-brewery-controller/src/master/) "
  version: "1.0.0"
  title: "RaspberryPi Brewery Controller"
  contact:
    email: "piotrmarc@gmail.com"
host: "localhost"
basePath: "/brewery/api/v1.0"
tags:
- name: "Brewery Controller"
  description: "Makes home beer better"
schemes:
- "http"
paths:
  /programs:
    post:
      tags:
      - "programs"
      summary: "Add a new brewing program"
      description: "Brewing program basically defines temperature range and relay to which there is a heating/cooling device attached to maintain desired temperature. After being added, the program will be immediatelly activated if active property is set to true"
      operationId: "addProgram"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "program"
        description: "Program to add. Program has to contain unique thermal sensor ID, that means sensor that is not used in any other program. The same requirement applies to a relay index of heating/cooling device to use"
        required: true
        schema:
          $ref: "#/definitions/Program"
      responses:
        200:
          description: "Program successfully added"
definitions:
  Program:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuid"
        description: "Unique identifier of the program that is generated by the server and will be returned in response. This property is ignored when program type is used in requests. Can be empty or omitted at all when adding new program or changing existing one in case of which the ID is passed as URI parameter. This property will always be available in all responses"
        example: "123e4567-e89b-12d3-a456-426655440000"
      name:
        type: "string"
        description: "Name of the program"
        example: "Indian Pale Ale"
      sensor_id:
        type: "string"
        description: "ID of the thermal sensor that was selected to use in the program. Sensor identifiers can be fetched by /therm_sensors endpoint. Sensor can only be used by a single program"
        example: "123456abc"
      heating_relay_index:
        type: "integer"
        format: "int8"
        description: "Index of the relay where heating device was attached or -1 if no heating device is used. First relay index is 0, last one depends on relay type, by default 7. It's allowed to have both, cooling and heating device indices set to -1 which means that the program was created to just monitor temperature"
        example: "0"
      cooling_relay_index:
        type: "integer"
        format: "int8"
        description: "Index of the relay where cooling device was attached or -1 if no cooling device is used. First relay index is 0, last one depends on relay type, by default 7. It's allowed to have both, cooling and heating device indices set to -1 which means that the program was created to just monitor temperature"
      max_temp:
        type: "number"
        description: "Maximum allowed temperature for this program. If exceeded, the attached cooling device will be activated (if available)"
        example: "18.5"
      min_temp:
        type: "number"
        description: "Minimum allowed temperature for this program. If exceeded, the attached heating device will be activated (if available)"
        example: "17.5"  
      active:
        type: "boolean"
        description: "If program is set to active the temperature is monitored and keep in range, meaning attached heating/cooling devices will get activated when necessary. Inactive program does nothing."
        example: "True"
      crc:
        type: "string"
        description: "This property is calculated based on other program's properties, if any property gets changed the program CRC is different. In normal scenario programs can be fetched only once because they rarely change. Then only programs' data is being fetched at constant intervals to read current temperature and other volatile data. Because program's data structure contains both program Id and program CRC it's easy to tell upon receiving that data that program properties the data is associated with have changed and the updated program needs to be fetched as well"
  ProgramState:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuid"
        description: "Unique identifier of the program that this state object is associated with"
        example: "123e4567-e89b-12d3-a456-426655440000"
      crc:
        type: "string"
        format: "uuid"
        description: "If the value of crc is the same as in associated program object it means that the program data is up-to-date. If crc is different it means that the program has changed and it's better to update it by requesting /programs endpoint. See corresponding crc field description in Program object"
        example: "abc123"
      currentTemp:
        type: "number"
        description: "Current temperature measured by the therm sensor associated with the program"
        example: "18.5"  
      heatingActivated:
        type: "boolean"
        description: "Indicates if heating device attached to the program is currently activated"
      coolingActivated:
        type: "boolean"
        description: "Indicates if cooling device attached to the program is currently activated"
        